certifi==2026.7.22
charset-normalizer==3.5.1
duckdb==1.4.5
idna==3.19
numpy==2.0.2
pandas==2.3.3
polars==1.36.1
polars-runtime-32==1.36.1
py4j==0.10.9.9
pyarrow==21.0.0
pyspark==4.0.4
python-dateutil==2.9.0.post0
pytz==2026.3.post1
requests==2.32.5
six==1.17.0
tzdata==2026.4
urllib3==2.6.3
